@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800;900&family=El+Messiri:wght@400;500;600;700&family=Festive&display=swap");
@media only screen and (max-width: 1100px) {
  /*contact*/
  .contact .form form input {
    width: 100% !important;
  }
  .contact .form form textarea {
    width: 100% !important;
  }
}

@media only screen and (max-width: 991px) {
  .nav_link {
    padding: 0.5rem 0 !important;
  }
  /* header-tab */
  .qyran {
    width: 350px !important;
    font-size: 0.8rem !important;
  }
  /*info-box*/
  .MembersMore .container-img .imgas-main {
    border: 10px solid #ff072a !important;
  }
  .MembersMore .info-box-man .text-info h3 {
    font-size: 0.9rem !important;
  }
  .MembersMore .info-box-man .baic-info a {
    padding-left: 0.4rem !important;
    font-size: 0.7rem;
    font-weight: bolder;
  }
  .MembersMore .info-box-man .baic-info a i {
    padding-left: 0.2rem !important;
  }
  .MembersMore .info-box-man .info-man p {
    font-size: 0.7rem !important;
  }
  .MembersMore .info-box-man .info-man ul li {
    font-size: 0.8rem !important;
  }
}

@media only screen and (max-width: 850px) {
  /*advancedSearch*/
  .advancedSearch .select-tab {
    width: 700px !important;
  }
}

@media only screen and (max-width: 750px) {
  /*advancedSearch*/
  .advancedSearch .select-tab {
    width: 100% !important;
  }
}

@media only screen and (max-width: 768px) {
  .header_1 .links_2 .call {
    display: none;
  }
  .header_2 .container-xxl .hide {
    display: inline !important;
  }
  .header_2 .container-xxl .nav {
    position: fixed;
    top: 0;
    right: -100%;
    background: #000000;
    width: 50%;
    height: 100vh;
    padding: 24px 0;
    z-index: 100;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 0 0 0 50%;
  }
  .header_2 .container-xxl .nav .nav_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    padding: 10px;
    position: relative;
    top: 20px;
  }
  .header_2 .container-xxl .nav .nav_list .nav_item {
    margin: 0 0.2rem 0.4rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header_2 .container-xxl .nav .nav_list .nav_item .nav_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    color: #eee;
  }
  .header_2 .container-xxl .nav .nav_list .nav_item .nav_link i {
    width: 40px;
    height: 40px;
    margin-left: 0.5rem;
    font-size: 1rem;
  }
  .header_2 .container-xxl .logo img {
    width: 70px !important;
    height: 70px !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .header_2 .container-xxl .header_toggle {
    display: inline !important;
    color: #000;
    font-size: 24px;
    padding-right: 1.5rem;
  }
  .header_2 .container-xxl .header_close {
    position: absolute;
    left: 24px;
    display: block !important;
    font-size: 24px;
    border-radius: 50%;
    color: #eee;
  }
  .header_2 .container-xxl .show {
    right: 0;
  }
  /* header-tab */
  .qyran {
    width: 350px !important;
    font-size: 0.8rem !important;
  }
  /* title */
  .title {
    display: none;
  }
  .header_2 {
    -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  /*FeaturedMembers*/
  .select-memb {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 767px) {
  /* header-tab */
  .qyran {
    width: 450px !important;
  }
  /*contact*/
  .contact .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 2rem;
  }
  .contact .form form input {
    width: 500px !important;
  }
  .contact .form form textarea {
    width: 500px !important;
  }
}

@media only screen and (max-width: 606px) {
  /*.Subscribe */
  .Subscribe .Subscribe-conttainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 540px) {
  .header_1 {
    display: none;
  }
  .header_1 .container-xxl {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .header_1 .container-xxl .links_2 {
    display: none !important;
  }
  .nav_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    color: #eee;
    font-size: 14px;
  }
  .nav_link i {
    width: 40px !important;
    height: 40px !important;
    margin-left: 0.5rem;
  }
  .header_toggle {
    padding-right: 0.5rem !important;
  }
  /* header-tab */
  .qyran {
    width: 100% !important;
  }
  .qyran h3 {
    font-size: 0.9rem !important;
  }
  .qyran p {
    font-size: 0.9rem !important;
  }
  /*sectionabout*/
  .about p {
    padding-right: 0.5rem !important;
    font-weight: 400 !important;
  }
  /*sectionBlog*/
  .Blog .rel h3 {
    font-size: 1.1rem !important;
  }
  /* page-about */
  .aks_an {
    margin-bottom: 1rem !important;
  }
  .aks_an h3 {
    font-size: 1rem !important;
  }
  .aks_an p {
    font-size: 0.8rem !important;
  }
  /*contact*/
  .contact .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 2rem;
  }
  .contact .form form {
    width: 100%;
  }
  .contact .form form input {
    width: 100% !important;
  }
  .contact .form form textarea {
    width: 100% !important;
  }
  /*  .select-memb*/
  .select-memb .select-city {
    margin-bottom: 1rem;
  }
  .select-memb .select-city h3 {
    font-size: 0.8rem !important;
    font-weight: bold !important;
  }
  .select-memb .select-city select {
    padding: 0 !important;
    padding: 0.3rem !important;
    width: 170px !important;
  }
  /*info-box*/
  .container-img .imgas-main {
    height: 300px !important;
  }
  /*advancedSearch*/
  .advancedSearch .select-tab {
    width: 100% !important;
  }
  .advancedSearch .select-tab .center-select {
    width: 280px !important;
  }
  .advancedSearch .select-tab p {
    font-size: 0.9rem !important;
  }
}

@media only screen and (max-width: 425px) {
  /* header-tab */
  .btn {
    font-size: 0.9rem !important;
  }
  .tab {
    margin: 0 1.5rem;
  }
  .tab button {
    width: 100% !important;
    font-size: 0.9rem !important;
  }
  .select-tab {
    width: 100% !important;
  }
  .select-tab select {
    font-size: 0.9rem !important;
  }
  .select-tab .btns .btn {
    font-size: 0.9rem !important;
  }
}

@media only screen and (max-width: 331px) {
  .header_1 .links_1 a {
    font-size: 11px;
  }
}

@media only screen and (max-width: 280px) {
  .nav_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    color: #eee;
    font-size: 12px;
  }
  .nav_link i {
    width: 30px !important;
    height: 30px !important;
    margin-left: 0.5rem;
  }
}

.tab {
  overflow: hidden;
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tab .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: #000;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  width: 172px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 15px;
  color: #fff;
  font-family: "Cairo", sans-serif;
  opacity: 1;
}

.tab button:nth-child(1) {
  margin-left: 0.5rem;
}

/* Change background color of buttons on hover */
/* Create an active/current tablink class */
.tab button.active {
  background-color: #ff072a;
  color: white;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  padding: 0;
}

.form-select {
  background-position: left 0.75rem center !important;
  padding: 0 !important;
  margin: 0 !important;
  padding: 0.5rem 1rem !important;
  border-radius: 0% !important;
  border: 1px solid #3b2e2e !important;
  margin-bottom: 1rem !important;
}

select:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.title {
  height: 184px !important;
}

.title .container-xxl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title .container-xxl h4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  font-family: myFirstFont;
}

.title .container-xxl h4::before {
  content: "|";
  margin: 0.5rem;
  font-size: 1.5rem;
  background: #000;
  color: #000;
}

.ask {
  position: relative;
  margin: 3rem 0;
}

.ask .container-xxl .row .col-md-8 .aks_an {
  margin-bottom: 2rem;
}

.ask .container-xxl .row .col-md-8 .aks_an h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ff072a;
  font-family: myFirstFont;
}

.ask .container-xxl .row .col-md-8 .aks_an p {
  font-size: 1rem;
  font-weight: 500;
  font-family: myFirstFont;
}

.contact {
  margin-top: 2rem;
  margin-bottom: 244px;
}

.contact .container-xxl .row .form h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.contact .container-xxl .row .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .container-xxl .row .form form input {
  border: 1px solid #aa9a9a;
  margin-bottom: 0.5rem;
  width: 600px;
  border-radius: 0;
}

.contact .container-xxl .row .form form input::-webkit-input-placeholder {
  font-size: 1rem;
  color: #2e3438;
}

.contact .container-xxl .row .form form input:-ms-input-placeholder {
  font-size: 1rem;
  color: #2e3438;
}

.contact .container-xxl .row .form form input::-ms-input-placeholder {
  font-size: 1rem;
  color: #2e3438;
}

.contact .container-xxl .row .form form input::placeholder {
  font-size: 1rem;
  color: #2e3438;
}

.contact .container-xxl .row .form form input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-shadow: rgba(165, 149, 149, 0.2) 0px 8px 24px;
          box-shadow: rgba(165, 149, 149, 0.2) 0px 8px 24px;
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
}

.contact .container-xxl .row .form form textarea {
  border: 1px solid #aa9a9a;
  width: 600px;
  height: 200px;
  padding: 10px;
}

.contact .container-xxl .row .form form textarea:focus {
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
}

.contact .container-xxl .row .form form textarea::-webkit-input-placeholder {
  font-size: 1rem;
  color: #2e3438;
}

.contact .container-xxl .row .form form textarea:-ms-input-placeholder {
  font-size: 1rem;
  color: #2e3438;
}

.contact .container-xxl .row .form form textarea::-ms-input-placeholder {
  font-size: 1rem;
  color: #2e3438;
}

.contact .container-xxl .row .form form textarea::placeholder {
  font-size: 1rem;
  color: #2e3438;
}

.contact .container-xxl .row .form form .btn {
  background: #000;
  color: #fff;
  border-radius: 20px;
  font-family: "Cairo", sans-serif !important;
  margin-top: 0.5rem;
}

.contact .container-xxl .row .contentUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .container-xxl .row .contentUs .Us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ff072a;
  width: 350px;
  height: 220px;
  padding: 1rem 0;
  border-radius: 20px;
}

.contact .container-xxl .row .contentUs .Us h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem 0;
  color: #fff;
}

.contact .container-xxl .row .contentUs .Us h4 {
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem 0;
  color: #fff;
}

.contact .container-xxl .row .contentUs .Us a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 1rem;
}

.contact .container-xxl .row .contentUs .Us .social {
  padding-right: 1rem;
  background: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.2rem;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.contact .container-xxl .row .contentUs .Us .social a {
  text-decoration: none;
}

.contact .container-xxl .row .contentUs .Us .social a i {
  color: #fff;
  padding-left: 0.5rem;
  font-size: 1.5rem;
}

.contact .container-xxl .row .contentUs .Us .social a .fa-facebook-f {
  color: #11468f;
}

.contact .container-xxl .row .contentUs .Us .social a .fa-twitter {
  color: #1572a1;
}

.contact .container-xxl .row .contentUs .Us .social a .fa-instagram {
  color: #ff072a;
}

.contact .container-xxl .row .contentUs .Us .social a .fa-whatsapp {
  color: #34be82;
}

.contact .container-xxl .row .contentUs .Us .social a .fa-snapchat-ghost {
  color: #a7b123;
}

.FeaturedMembers {
  margin: 2rem 0 3rem 0;
}

.FeaturedMembers .container-xxl .row .select-memb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.FeaturedMembers .container-xxl .row .select-memb .select-city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.FeaturedMembers .container-xxl .row .select-memb .select-city h3 {
  font-size: 1.2rem;
  padding-left: 1rem;
  font-family: "Cairo", sans-serif;
}

.FeaturedMembers .container-xxl .row .select-memb .select-city select {
  display: block;
  width: 200px;
  font-family: "Cairo", sans-serif;
}

.FeaturedMembers .container-xxl .row .select-memb .select-male a {
  font-size: 1rem;
  text-decoration: none;
  font-weight: 700;
  color: #000;
  padding: 0.5rem;
  font-family: "Cairo", sans-serif;
}

.FeaturedMembers .container-xxl .row .select-memb .select-male a span {
  padding-left: 0.5rem;
}

.pager .book-content {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}

.pager .book-content .gallery-pic {
  width: 24rem;
  height: 220px;
  background: #ff072a;
  border-radius: 10px;
}

.pager .book-content .gallery-pic .row-box {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pager .book-content .gallery-pic .row-box .img-box {
  width: 40%;
  height: 100%;
  padding: 0.5rem;
  border-radius: 10px;
  margin-left: 0.5rem;
}

.pager .book-content .gallery-pic .row-box .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pager .book-content .gallery-pic .row-box .text-box {
  width: 60%;
}

.pager .book-content .gallery-pic .row-box .text-box h3 {
  font-size: 1rem;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  font-family: "Cairo", sans-serif;
}

.pager .book-content .gallery-pic .row-box .text-box h3 .green {
  display: block;
  height: 15px;
  width: 15px;
  background: green;
  border-radius: 50%;
}

.pager .book-content .gallery-pic .row-box .text-box h3 .red {
  display: block;
  height: 15px;
  width: 15px;
  background: red;
  border-radius: 50%;
}

.pager .book-content .gallery-pic .row-box .text-box p {
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0.6rem;
}

.pager .book-content .gallery-pic .row-box .text-box .more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pager .book-content .gallery-pic .row-box .text-box .more a {
  text-decoration: none;
  color: #fff;
}

.selected {
  color: #ff072a !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
}

.baic-info .selected {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
}

.Selection-start {
  color: #ff072a !important;
}

/*MoreMembers*/
.MembersMore {
  margin: 3rem 0 5rem 0;
}

.MembersMore .container-xxl .row .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.MembersMore .container-xxl .row .text-info h3 {
  font-size: 1rem;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  font-family: "Cairo", sans-serif;
  width: 200px;
  color: #fff;
  margin-bottom: 1.5rem;
}

.MembersMore .container-xxl .row .text-info h3 .green {
  display: block;
  height: 15px;
  width: 15px;
  background: green;
  border-radius: 50%;
}

.MembersMore .container-xxl .row .text-info h3 .red {
  display: block;
  height: 15px;
  width: 15px;
  background: red;
  border-radius: 50%;
}

.MembersMore .container-xxl .row .baic-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
}

.MembersMore .container-xxl .row .baic-info a {
  text-decoration: none;
  padding-left: 1rem;
  color: #000;
}

.MembersMore .container-xxl .row .baic-info a i {
  padding-left: 0.5rem;
}

.MembersMore .container-xxl .row .info-man p {
  font-size: 1rem;
  font-weight: 700;
}

.MembersMore .container-xxl .row .info-man p span {
  color: #ff072a;
  padding: 0 0.3rem;
}

.MembersMore .container-xxl .row .info-man ul li {
  display: block;
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.MembersMore .container-xxl .row .info-man ul li i {
  font-size: 0.8rem;
  padding-left: 0.3rem;
}

.MembersMore .container-xxl .row .info-man ul li span {
  margin-right: 0.5rem;
  color: #ff072a;
}

.container-img {
  background: #ffff;
  width: 334px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imgas-list {
  width: 100%;
  padding: 10px;
  padding-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imgas-list img {
  width: 100px;
  height: 100px;
  margin-bottom: 0.5rem;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

/* .imgas-list img.active {
  transition: 0.2s linear;
  border: 2px solid #0d8bca;
} */
.imgas-main {
  width: 100%;
  height: 410px;
  border: 20px solid #ff072a;
  border-radius: 10px;
}

.imgas-main img {
  height: 100%;
  width: 100%;
  outline: none;
  -o-object-fit: contain;
     object-fit: contain;
}

.imgas-main img.active,
.imgas-main img:hover {
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.Search {
  padding: 3rem 0;
  -webkit-animation: fadeEffect 1.5s;
  animation: fadeEffect 1.5s;
}

.Search .Search-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.Search .Search-details h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  background: #ff072a;
  color: #fff;
  padding: 10px 20px;
  height: 60px;
  line-height: 30px;
}

.Search .Search-details span {
  color: #000;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.Search .Search-details .img-details {
  width: 700px;
  height: 250px;
}

.Search .Search-details .img-details img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.Search .Search-details .show-links {
  width: 700px;
  background: #0d8bca;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0.5rem 0;
}

.Search .Search-details .show-links a {
  background: #fff;
  color: #000;
  text-decoration: none;
  padding: 5px 20px;
}

.Search .Search-details .article {
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
}

.Search .Search-details .article p {
  line-height: 2rem;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.Search .Search-details .share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Search .Search-details .share a {
  text-decoration: none;
  color: #000;
  padding-left: 0.5rem;
}

@media (max-width: 991px) {
  .article {
    width: 700px !important;
  }
}

@media (max-width: 768px) {
  .Search {
    width: 100% !important;
  }
  .article {
    width: 100% !important;
  }
  .show-links {
    width: 100% !important;
  }
  .img-details {
    width: 100% !important;
  }
}

@media (max-width: 575.5px) {
  .Search {
    width: 100% !important;
    padding: 3rem 1rem;
  }
  .Search-details h3 {
    font-size: 1rem !important;
  }
}

/* StartSctionHeader */
.advancedSearch {
  background: url(img/header.png);
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.advancedSearch .container-xxl {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advancedSearch .container-xxl .row {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advancedSearch .container-xxl .row .col-md-6 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.advancedSearch .container-xxl .row .col-md-6 .btn {
  text-decoration: none;
  padding: 10px 30px;
  background: #000;
  border-radius: 20px;
  margin: 0.5rem;
  font-family: "Cairo", sans-serif !important;
}

.advancedSearch .container-xxl .row .col-md-6 .btn a {
  text-decoration: none;
  color: #fff;
}

.advancedSearch .container-xxl .row .col-md-6 .btn a i {
  padding: 0 0.5rem;
}

.advancedSearch .container-xxl .row .col .select-tab {
  width: 800px;
  background: #d0d1d2;
  opacity: 1;
  border-radius: 10px;
  margin: 1rem 0;
  padding: 1rem;
}

.advancedSearch .container-xxl .row .col .select-tab #Husband form {
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  width: 100%;
}

.advancedSearch .container-xxl .row .col .select-tab #Husband form .row-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advancedSearch .container-xxl .row .col .select-tab #Husband form .row-select p {
  margin-left: 1rem;
  width: 100%;
}

.advancedSearch .container-xxl .row .col .select-tab #Husband form .row-select .margin-select {
  margin-left: 1rem !important;
}

.advancedSearch .container-xxl .row .col .select-tab #Husband form .text {
  padding: 0.5rem 1rem !important;
  width: 100%;
  background: #fff;
  margin-bottom: 1rem;
  border: 1px solid #000;
}

.advancedSearch .container-xxl .row .col .select-tab #Husband form .text::-webkit-input-placeholder {
  color: #000;
}

.advancedSearch .container-xxl .row .col .select-tab #Husband form .text:-ms-input-placeholder {
  color: #000;
}

.advancedSearch .container-xxl .row .col .select-tab #Husband form .text::-ms-input-placeholder {
  color: #000;
}

.advancedSearch .container-xxl .row .col .select-tab #Husband form .text::placeholder {
  color: #000;
}

.advancedSearch .container-xxl .row .col .select-tab #wife form {
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  width: 100%;
}

.advancedSearch .container-xxl .row .col .select-tab #wife form .row-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advancedSearch .container-xxl .row .col .select-tab #wife form .row-select p {
  margin-left: 1rem;
  width: 100%;
}

.advancedSearch .container-xxl .row .col .select-tab #wife form .row-select .margin-select {
  margin-left: 1rem !important;
}

.advancedSearch .container-xxl .row .col .select-tab #wife form .text {
  padding: 0.5rem 1rem !important;
  width: 100%;
  background: #fff;
  margin-bottom: 1rem;
  border: 1px solid #000;
}

.advancedSearch .container-xxl .row .col .select-tab #wife form .text::-webkit-input-placeholder {
  color: #000;
}

.advancedSearch .container-xxl .row .col .select-tab #wife form .text:-ms-input-placeholder {
  color: #000;
}

.advancedSearch .container-xxl .row .col .select-tab #wife form .text::-ms-input-placeholder {
  color: #000;
}

.advancedSearch .container-xxl .row .col .select-tab #wife form .text::placeholder {
  color: #000;
}

.advancedSearch .container-xxl .row .col .select-tab .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1.5rem;
  margin-bottom: 1rem;
}

.advancedSearch .container-xxl .row .col .select-tab .btns .btn {
  padding: 0;
  padding: 7px 10px;
  width: 100% !important;
}

.advancedSearch .container-xxl .row .col .select-tab .btns .btn a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: #ff072a;
  border-radius: 20px;
  color: #fff;
  font-family: "Cairo", sans-serif;
}

.advancedSearch .container-xxl .row .col .select-tab .btns .btn a i {
  padding-right: 0.5rem;
}

.advancedSearch .container-xxl .row .center-select {
  width: 400px;
}

/* EndSctionHeader */
.Subscribe {
  height: auto;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.Subscribe .container-xxl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Subscribe .container-xxl .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Subscribe .container-xxl .row .Subscribe-conttainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Subscribe .container-xxl .row .Subscribe-conttainer .Subscribe_1 {
  padding: 1rem;
  margin: 1rem;
  background: #000;
  border-radius: 20px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Subscribe .container-xxl .row .Subscribe-conttainer .Subscribe_1 p {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #fff;
}

.Subscribe .container-xxl .row .Subscribe-conttainer .Subscribe_1 h3 {
  font-size: 2rem;
  margin-bottom: 1.6rem;
  color: #fff;
  font-weight: bold;
}

.Subscribe .container-xxl .row .Subscribe-conttainer .Subscribe_1 a {
  text-align: center;
  text-decoration: none;
  background: #fff;
  color: black;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  font-family: "Cairo", sans-serif;
}

.Subscribe .container-xxl .row .Subscribe-conttainer .Subscribe_2 {
  padding: 1rem;
  margin: 1rem;
  background: #ff072a;
  border-radius: 20px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Subscribe .container-xxl .row .Subscribe-conttainer .Subscribe_2 p {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #fff;
}

.Subscribe .container-xxl .row .Subscribe-conttainer .Subscribe_2 h3 {
  font-size: 2rem;
  margin-bottom: 1.6rem;
  color: #fff;
  font-weight: bold;
}

.Subscribe .container-xxl .row .Subscribe-conttainer .Subscribe_2 a {
  text-align: center;
  text-decoration: none;
  background: black;
  color: white;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  font-family: "Cairo", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
  font-family: myFirstFont;
  direction: rtl;
}

textarea {
  resize: none !important;
}

.selector-for-some-widget {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@font-face {
  font-family: myFirstFont;
  src: url(fonts/alfont_com_AlFont_com_DINNextLTArabic-Regular.ttf);
}

/* Rest UL&LI */
/* circle */
/* CENTER ELEMENT */
/* sit */
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* StartHeader_1 */
.header_1 {
  position: relative;
  background: #000;
}

.header_1 .container-xxl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_1 .container-xxl .links_1 {
  padding: 10px;
}

.header_1 .container-xxl .links_1 a {
  color: #fff;
  text-decoration: none;
  padding: 0 0.5rem;
}

.header_1 .container-xxl .links_1 a i {
  padding: 0 0.3rem;
}

.header_1 .container-xxl .links_2 {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.header_1 .container-xxl .links_2 .social a {
  color: #fff;
  padding: 0 0.5rem;
}

.header_1 .container-xxl .links_2 .call {
  position: relative;
  left: 50px;
  direction: ltr;
}

.header_1 .container-xxl .links_2 .call a {
  color: #fff;
  padding: 0 0.5rem;
  text-decoration: none;
}

.header_1 .container-xxl .links_2 .call a i {
  padding: 0 0.3rem;
}

/* EndHeader_1 */
/* StartHeader_2 */
.header_2 .container-xxl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.header_2 .container-xxl .hide {
  display: none;
}

.header_2 .container-xxl .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_2 .container-xxl .logo img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header_2 .container-xxl .nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_2 .container-xxl .nav_list .nav_item {
  margin: 0 8px;
}

.header_2 .container-xxl .nav_list .nav_item .nav_link {
  padding: 1rem 0.5rem;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
}

.header_2 .container-xxl .nav_list .nav_item .nav_link i {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  text-align: center;
  background: #ff072a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 25px;
}

.header_2 .container-xxl .header_toggle {
  display: none;
  cursor: pointer;
}

.header_2 .container-xxl .header_close {
  display: none;
  cursor: pointer;
}

/* EndHeader_2 */
/* StartSctionHeader */
.search_header {
  background: url(img/header.png);
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.search_header .container-xxl {
  height: 100%;
}

.search_header .container-xxl .row {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search_header .container-xxl .row .col-md-6 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search_header .container-xxl .row .col-md-6 .qyran {
  background: #ff072a;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  color: #fff;
  width: 450px;
  margin: 1rem 0;
}

.search_header .container-xxl .row .col-md-6 .qyran h3 {
  font-weight: normal;
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

.search_header .container-xxl .row .col-md-6 .qyran p {
  font-size: 1rem;
  font-weight: normal;
  line-height: 2.3rem;
}

.search_header .container-xxl .row .col-md-6 .btn {
  text-decoration: none;
  padding: 10px 30px;
  background: #000;
  border-radius: 20px;
  margin: 0.5rem;
  font-family: "Cairo", sans-serif;
}

.search_header .container-xxl .row .col-md-6 .btn a {
  text-decoration: none;
  color: #fff;
}

.search_header .container-xxl .row .col-md-6 .btn a i {
  padding: 0 0.5rem;
}

.search_header .container-xxl .row .col-md-6 .select-tab {
  width: 400px;
  background: #d0d1d2;
  opacity: 1;
  border-radius: 10px;
  margin: 1rem 0;
}

.search_header .container-xxl .row .col-md-6 .select-tab #Husband form {
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
}

.search_header .container-xxl .row .col-md-6 .select-tab #Husband form .row-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search_header .container-xxl .row .col-md-6 .select-tab #Husband form .row-select select:nth-child(1) {
  margin-left: 0.5rem !important;
}

.search_header .container-xxl .row .col-md-6 .select-tab #wife form {
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
}

.search_header .container-xxl .row .col-md-6 .select-tab #wife form .row-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search_header .container-xxl .row .col-md-6 .select-tab #wife form .row-select select:nth-child(1) {
  margin-left: 0.5rem !important;
}

.search_header .container-xxl .row .col-md-6 .select-tab .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1.5rem;
  margin-bottom: 1rem;
}

.search_header .container-xxl .row .col-md-6 .select-tab .btns .btn {
  padding: 0;
  padding: 7px 10px;
  width: 100% !important;
}

.search_header .container-xxl .row .col-md-6 .select-tab .btns .btn:nth-child(2) {
  background: #ff072a;
}

/* EndSctionHeader */
/* SectionAboutStart */
.about {
  position: relative;
  margin-top: 2rem;
}

.about .container-xxl .row h4 {
  font-size: 1.2rem;
  font-weight: 700;
}

.about .container-xxl .row h4::before {
  content: "|";
  margin: 0.5rem;
  font-size: 1rem;
  background: #ff072a;
  color: #ff072a;
}

.about .container-xxl .row .col-md-8 p {
  margin-top: 1.5rem;
  padding-right: 4rem;
  line-height: 2rem;
  font-weight: 600;
}

.about .container-xxl .row .col-md-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .container-xxl .row .col-md-4 .img-about {
  width: 150px;
}

.about .container-xxl .row .col-md-4 .img-about img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* StartBlog*/
.Blog {
  margin: 2rem 0;
}

.Blog .container-xxl h4 {
  font-size: 1.2rem;
  font-weight: 700;
}

.Blog .container-xxl h4::before {
  content: "|";
  margin: 0.5rem;
  font-size: 1rem;
  background: #ff072a;
  color: #ff072a;
}

.Blog .container-xxl .row {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}

.Blog .container-xxl .row .rel {
  width: 18rem;
}

.Blog .container-xxl .row .rel .img_blog {
  border-radius: 20px;
  width: 100%;
  height: 250px;
}

.Blog .container-xxl .row .rel .img_blog img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  outline: 2px solid #ff072a;
}

.Blog .container-xxl .row .rel h3 {
  font-size: 1rem;
  font-weight: 700;
  height: 24px;
  overflow: hidden;
  margin: 0.8rem 0;
}

.Blog .container-xxl .row .rel p {
  height: 72px;
  width: 100%;
  overflow: hidden;
  font-weight: 600;
}

.Blog .container-xxl .row .rel .more {
  text-align: center;
}

.Blog .container-xxl .row .rel .more a {
  color: #ff072a;
  font-size: 1rem;
  text-decoration: none;
}

.Blog .container-xxl .row .btn {
  margin-top: 1rem;
}

.Blog .container-xxl .row .btn a {
  text-decoration: none;
  padding: 10px 30px;
  background: #000;
  border-radius: 20px;
  margin: 0.5rem;
  color: #fff;
  font-size: 0.8rem;
  font-family: "Cairo", sans-serif;
}

/* Start-Story*/
.Story {
  margin: 2rem 0;
}

.Story .container-xxl h4 {
  font-size: 1.2rem;
  font-weight: 700;
}

.Story .container-xxl h4::before {
  content: "|";
  margin: 0.5rem;
  font-size: 1rem;
  background: #ff072a;
  color: #ff072a;
}

.Story .container-xxl .row {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}

.Story .container-xxl .row .rel {
  width: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Story .container-xxl .row .rel .img_blog {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.Story .container-xxl .row .rel .img_blog img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  outline: 2px solid #ff072a;
}

.Story .container-xxl .row .rel h3 {
  font-size: 1rem;
  font-weight: 700;
  height: 24px;
  overflow: hidden;
  margin: 0.8rem 0;
  text-align: center;
}

.Story .container-xxl .row .rel p {
  height: 48px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-weight: 600;
}

.Story .container-xxl .row .rel .name-city {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Story .container-xxl .row .rel .name-city .name h3 {
  font-size: 1rem;
}

.Story .container-xxl .row .rel .name-city .city {
  width: 40px;
}

.Story .container-xxl .row .rel .name-city .city img {
  width: 100%;
}

.Story .container-xxl .row .rel a {
  display: block;
  color: #000;
  font-size: 1.1rem;
  text-decoration: none;
  text-align: center;
}

.Story .container-xxl .row .rel a i {
  padding-left: 0.5rem;
  font-weight: 700;
}

.Story .container-xxl .row .btn {
  margin-top: 1rem;
}

.Story .container-xxl .row .btn a {
  text-decoration: none;
  padding: 10px 30px;
  background: #000;
  border-radius: 20px;
  margin: 0.5rem;
  color: #fff;
  font-size: 0.8rem;
  font-family: "Cairo", sans-serif !important;
}

.rel.showContent p {
  height: auto !important;
  -webkit-transition: 0.3s linear all;
  transition: 0.3s linear all;
  -webkit-animation: fadeEffect 1s;
          animation: fadeEffect 1s;
}

.rel.showContent a.redmore-btn {
  font-weight: 700;
}

.osos {
  cursor: pointer;
}

.main-btn:hover {
  outline: 2px solid #fff;
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
}

.footer {
  position: relative;
  background: #000;
  color: #fff;
}

.footer .container-xxl .row {
  padding: 1.5rem 0;
}

.footer .container-xxl .row .about-group {
  margin-bottom: 1rem;
}

.footer .container-xxl .row .about-group h4 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.footer .container-xxl .row .about-group h4::before {
  content: "|";
  margin: 0.5rem;
  border-radius: 0;
  font-size: 1rem;
  background: #ff072a;
  color: #ff072a;
}

.footer .container-xxl .row .about-group p {
  padding-right: 1rem;
  line-height: 1.8rem;
}

.footer .container-xxl .row .links-footer {
  margin-bottom: 1rem;
}

.footer .container-xxl .row .links-footer h4 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.footer .container-xxl .row .links-footer h4::before {
  content: "|";
  margin: 0.5rem;
  border-radius: 0;
  font-size: 1rem;
  background: #ff072a;
  color: #ff072a;
}

.footer .container-xxl .row .links-footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .container-xxl .row .links-footer .links ul li {
  padding: 0.3rem;
}

.footer .container-xxl .row .links-footer .links ul li a {
  text-decoration: none;
  color: #fff;
}

.footer .container-xxl .row .social-me {
  margin-bottom: 1rem;
}

.footer .container-xxl .row .social-me h4 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.footer .container-xxl .row .social-me h4::before {
  content: "|";
  margin: 0.5rem;
  border-radius: 0;
  font-size: 1rem;
  background: #ff072a;
  color: #ff072a;
}

.footer .container-xxl .row .social-me .social {
  padding-right: 1rem;
}

.footer .container-xxl .row .social-me .social a {
  text-decoration: none;
}

.footer .container-xxl .row .social-me .social a i {
  color: #fff;
  padding-left: 0.5rem;
  font-size: 2rem;
}

.footer .container-xxl .row .social-me .social a .fa-facebook-f {
  color: #11468f;
}

.footer .container-xxl .row .social-me .social a .fa-twitter {
  color: #1572a1;
}

.footer .container-xxl .row .social-me .social a .fa-instagram {
  color: #ff072a;
}

.footer .container-xxl .row .social-me .social a .fa-whatsapp {
  color: #34be82;
}

.footer .Copyright {
  background: #ff072a;
  padding: 0.5rem 0;
}

.footer .Copyright .container-xxl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #fff;
}

.footer .Copyright .container-xxl h6 {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */