@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800;900&family=El+Messiri:wght@400;500;600;700&family=Festive&display=swap");
@media only screen and (max-width: 991px) {
  .nav_link {
    padding: 0.5rem 0 !important;
  }
  /* header-tab */
  .qyran {
    width: 350px !important;
    font-size: 0.8rem !important;
  }
}

@media only screen and (max-width: 768px) {
  .header_1 .links_2 .call {
    display: none;
  }
  .header_2 .container-xxl .hide {
    display: inline !important;
  }
  .header_2 .container-xxl .nav {
    position: fixed;
    top: 0;
    right: -100%;
    background: #000000;
    width: 50%;
    height: 100vh;
    padding: 24px 0;
    z-index: 100;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 0 0 0 50%;
  }
  .header_2 .container-xxl .nav .nav_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    padding: 10px;
    position: relative;
    top: 40px;
  }
  .header_2 .container-xxl .nav .nav_list .nav_item {
    margin: 0.5rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header_2 .container-xxl .nav .nav_list .nav_item .nav_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    color: #eee;
  }
  .header_2 .container-xxl .nav .nav_list .nav_item .nav_link i {
    width: 40px;
    height: 40px;
    margin-left: 0.5rem;
    font-size: 1rem;
  }
  .header_2 .container-xxl .logo img {
    width: 70px !important;
    height: 70px !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .header_2 .container-xxl .header_toggle {
    display: inline !important;
    color: #000;
    font-size: 24px;
    padding-right: 1.5rem;
  }
  .header_2 .container-xxl .header_close {
    position: absolute;
    left: 24px;
    display: block !important;
    font-size: 24px;
    border-radius: 50%;
    color: #eee;
  }
  .header_2 .container-xxl .show {
    right: 0;
  }
  /* header-tab */
  .qyran {
    width: 350px !important;
    font-size: 0.8rem !important;
  }
}

@media only screen and (max-width: 767px) {
  /* header-tab */
  .qyran {
    width: 450px !important;
  }
}

@media only screen and (max-width: 540px) {
  .header_1 {
    display: none;
  }
  .header_1 .container-xxl {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .header_1 .container-xxl .links_2 {
    display: none !important;
  }
  .nav_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    color: #eee;
    font-size: 14px;
  }
  .nav_link i {
    width: 40px !important;
    height: 40px !important;
    margin-left: 0.5rem;
  }
  .header_toggle {
    padding-right: 0.5rem !important;
  }
  /* header-tab */
  .qyran {
    width: 100% !important;
  }
  .qyran h3 {
    font-size: 0.9rem !important;
  }
  .qyran p {
    font-size: 0.9rem !important;
  }
  /*sectionabout*/
  .about p {
    padding-right: 0.5rem !important;
    font-weight: 400 !important;
  }
  /*sectionBlog*/
  .Blog .rel h3 {
    font-size: 1.1rem !important;
  }
}

@media only screen and (max-width: 425px) {
  /* header-tab */
  .btn {
    font-size: 0.9rem !important;
  }
  .tab {
    margin: 0 1.5rem;
  }
  .tab button {
    width: 100% !important;
    font-size: 0.9rem !important;
  }
  .select-tab {
    width: 100% !important;
  }
  .select-tab select {
    font-size: 0.9rem !important;
  }
  .select-tab .btns .btn {
    font-size: 0.9rem !important;
  }
}

@media only screen and (max-width: 331px) {
  .header_1 .links_1 a {
    font-size: 11px;
  }
}

@media only screen and (max-width: 280px) {
  .nav_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    color: #eee;
    font-size: 12px;
  }
  .nav_link i {
    width: 30px !important;
    height: 30px !important;
    margin-left: 0.5rem;
  }
}

.tab {
  overflow: hidden;
  margin-top: 1.5rem;
}

.tab .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: #000;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  width: 172px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 15px;
  color: #fff;
  opacity: 1;
}

.tab button:nth-child(1) {
  margin-left: 0.5rem;
}

/* Change background color of buttons on hover */
/* Create an active/current tablink class */
.tab button.active {
  background-color: #ff072a;
  color: white;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  padding: 0;
}

.form-select {
  background-position: left 0.75rem center !important;
  padding: 0 !important;
  margin: 0 !important;
  padding: 0.5rem 1rem !important;
  border-radius: 0% !important;
  border: 1px solid #3b2e2e !important;
  margin-bottom: 0.5rem !important;
}

select:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
  font-family: myFirstFont;
  font-family: "Cairo", sans-serif;
  direction: rtl;
}

.selector-for-some-widget {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@font-face {
  font-family: myFirstFont;
  src: url(fonts/alfont_com_AlFont_com_DINNextLTArabic-Regular.ttf);
}

/* Rest UL&LI */
/* circle */
/* CENTER ELEMENT */
/* sit */
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* StartHeader_1 */
.header_1 {
  position: relative;
  background: #000;
}

.header_1 .container-xxl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_1 .container-xxl .links_1 {
  padding: 10px;
}

.header_1 .container-xxl .links_1 a {
  color: #fff;
  text-decoration: none;
  padding: 0 0.5rem;
}

.header_1 .container-xxl .links_1 a i {
  padding: 0 0.3rem;
}

.header_1 .container-xxl .links_2 {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.header_1 .container-xxl .links_2 .social a {
  color: #fff;
  padding: 0 0.5rem;
}

.header_1 .container-xxl .links_2 .call {
  position: relative;
  left: 50px;
  direction: ltr;
}

.header_1 .container-xxl .links_2 .call a {
  color: #fff;
  padding: 0 0.5rem;
  text-decoration: none;
}

.header_1 .container-xxl .links_2 .call a i {
  padding: 0 0.3rem;
}

/* EndHeader_1 */
/* StartHeader_2 */
.header_2 .container-xxl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.header_2 .container-xxl .hide {
  display: none;
}

.header_2 .container-xxl .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_2 .container-xxl .logo img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header_2 .container-xxl .nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_2 .container-xxl .nav_list .nav_item {
  margin: 0 8px;
}

.header_2 .container-xxl .nav_list .nav_item .nav_link {
  padding: 1rem 0.5rem;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
}

.header_2 .container-xxl .nav_list .nav_item .nav_link i {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  text-align: center;
  background: #ff072a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 25px;
}

.header_2 .container-xxl .header_toggle {
  display: none;
  cursor: pointer;
}

.header_2 .container-xxl .header_close {
  display: none;
  cursor: pointer;
}

/* EndHeader_2 */
/* StartSctionHeader */
.search_header {
  background: url(img/header.png);
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.search_header .container-xxl {
  height: 100%;
}

.search_header .container-xxl .row {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search_header .container-xxl .row .col-md-6 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search_header .container-xxl .row .col-md-6 .qyran {
  background: #ff072a;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  color: #fff;
  width: 450px;
  margin: 1rem 0;
}

.search_header .container-xxl .row .col-md-6 .qyran h3 {
  font-weight: normal;
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

.search_header .container-xxl .row .col-md-6 .qyran p {
  font-size: 1rem;
  font-weight: normal;
  line-height: 2.3rem;
}

.search_header .container-xxl .row .col-md-6 .btn {
  text-decoration: none;
  padding: 10px 30px;
  background: #000;
  border-radius: 20px;
  margin: 0.5rem;
}

.search_header .container-xxl .row .col-md-6 .btn a {
  text-decoration: none;
  color: #fff;
}

.search_header .container-xxl .row .col-md-6 .btn a i {
  padding: 0 0.5rem;
}

.search_header .container-xxl .row .col-md-6 .select-tab {
  width: 400px;
  background: #d0d1d2;
  opacity: 1;
  border-radius: 10px;
  margin: 1rem 0;
}

.search_header .container-xxl .row .col-md-6 .select-tab #Husband form {
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
}

.search_header .container-xxl .row .col-md-6 .select-tab #Husband form .row-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search_header .container-xxl .row .col-md-6 .select-tab #Husband form .row-select select:nth-child(1) {
  margin-left: 0.5rem !important;
}

.search_header .container-xxl .row .col-md-6 .select-tab #wife form {
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
}

.search_header .container-xxl .row .col-md-6 .select-tab #wife form .row-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search_header .container-xxl .row .col-md-6 .select-tab #wife form .row-select select:nth-child(1) {
  margin-left: 0.5rem !important;
}

.search_header .container-xxl .row .col-md-6 .select-tab .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1.5rem;
  margin-bottom: 1rem;
}

.search_header .container-xxl .row .col-md-6 .select-tab .btns .btn {
  padding: 0;
  padding: 7px 10px;
  width: 100% !important;
}

.search_header .container-xxl .row .col-md-6 .select-tab .btns .btn:nth-child(2) {
  background: #ff072a;
}

/* EndSctionHeader */
/* SectionAboutStart */
.about {
  position: relative;
  margin-top: 2rem;
}

.about .container-xxl .row h4 {
  font-size: 1.2rem;
  font-weight: 700;
}

.about .container-xxl .row h4::before {
  content: "|";
  margin: 0.5rem;
  font-size: 1rem;
  background: #ff072a;
  color: #ff072a;
}

.about .container-xxl .row .col-md-8 p {
  margin-top: 1.5rem;
  padding-right: 4rem;
  line-height: 2rem;
  font-weight: 600;
}

.about .container-xxl .row .col-md-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .container-xxl .row .col-md-4 .img-about {
  width: 150px;
}

.about .container-xxl .row .col-md-4 .img-about img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* StartBlog*/
.Blog {
  margin: 2rem 0;
}

.Blog .container-xxl h4 {
  font-size: 1.2rem;
  font-weight: 700;
}

.Blog .container-xxl h4::before {
  content: "|";
  margin: 0.5rem;
  font-size: 1rem;
  background: #ff072a;
  color: #ff072a;
}

.Blog .container-xxl .row {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}

.Blog .container-xxl .row .rel {
  width: 18rem;
}

.Blog .container-xxl .row .rel .img_blog {
  border-radius: 20px;
  width: 100%;
  height: 250px;
}

.Blog .container-xxl .row .rel .img_blog img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  outline: 2px solid #ff072a;
}

.Blog .container-xxl .row .rel h3 {
  font-size: 1rem;
  font-weight: 700;
  height: 24px;
  overflow: hidden;
  margin: 0.8rem 0;
}

.Blog .container-xxl .row .rel p {
  height: 72px;
  width: 100%;
  overflow: hidden;
  font-weight: 600;
}

.Blog .container-xxl .row .rel .more {
  text-align: center;
}

.Blog .container-xxl .row .rel .more a {
  color: #ff072a;
  font-size: 1rem;
  text-decoration: none;
}

.Blog .container-xxl .row .btn {
  margin-top: 1rem;
}

.Blog .container-xxl .row .btn a {
  text-decoration: none;
  padding: 10px 30px;
  background: #000;
  border-radius: 20px;
  margin: 0.5rem;
  color: #fff;
  font-size: 0.8rem;
}

/* Start-Story*/
.Story {
  margin: 2rem 0;
}

.Story .container-xxl h4 {
  font-size: 1.2rem;
  font-weight: 700;
}

.Story .container-xxl h4::before {
  content: "|";
  margin: 0.5rem;
  font-size: 1rem;
  background: #ff072a;
  color: #ff072a;
}

.Story .container-xxl .row {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}

.Story .container-xxl .row .rel {
  width: 18rem;
}

.Story .container-xxl .row .rel .img_blog {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.Story .container-xxl .row .rel .img_blog img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  outline: 2px solid #ff072a;
}

.Story .container-xxl .row .rel h3 {
  font-size: 1rem;
  font-weight: 700;
  height: 24px;
  overflow: hidden;
  margin: 0.8rem 0;
  text-align: center;
}

.Story .container-xxl .row .rel p {
  height: 48px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-weight: 600;
}

.Story .container-xxl .row .rel .name-city {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Story .container-xxl .row .rel .name-city .name h3 {
  font-size: 1rem;
}

.Story .container-xxl .row .rel .name-city .city {
  width: 40px;
}

.Story .container-xxl .row .rel .name-city .city img {
  width: 100%;
}

.Story .container-xxl .row .rel a {
  display: block;
  color: #000;
  font-size: 1.1rem;
  text-decoration: none;
  text-align: center;
}

.Story .container-xxl .row .rel a i {
  padding-left: 0.5rem;
  font-weight: 700;
}

.Story .container-xxl .row .btn {
  margin-top: 1rem;
}

.Story .container-xxl .row .btn a {
  text-decoration: none;
  padding: 10px 30px;
  background: #000;
  border-radius: 20px;
  margin: 0.5rem;
  color: #fff;
  font-size: 0.8rem;
}

.rel.showContent p {
  height: auto !important;
  -webkit-transition: 0.3s linear all;
  transition: 0.3s linear all;
  -webkit-animation: fadeEffect 1s;
          animation: fadeEffect 1s;
}

.rel.showContent a.redmore-btn {
  font-weight: 700;
}

.main-btn:hover {
  outline: 2px solid #fff;
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
}

.footer {
  position: relative;
  background: #000;
  color: #fff;
}

.footer .container-xxl .row {
  padding: 1.5rem 0;
}

.footer .container-xxl .row .about-group {
  margin-bottom: 1rem;
}

.footer .container-xxl .row .about-group h4 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.footer .container-xxl .row .about-group h4::before {
  content: "|";
  margin: 0.5rem;
  border-radius: 0;
  font-size: 1rem;
  background: #ff072a;
  color: #ff072a;
}

.footer .container-xxl .row .about-group p {
  padding-right: 1rem;
  line-height: 1.8rem;
}

.footer .container-xxl .row .links-footer {
  margin-bottom: 1rem;
}

.footer .container-xxl .row .links-footer h4 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.footer .container-xxl .row .links-footer h4::before {
  content: "|";
  margin: 0.5rem;
  border-radius: 0;
  font-size: 1rem;
  background: #ff072a;
  color: #ff072a;
}

.footer .container-xxl .row .links-footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .container-xxl .row .links-footer .links ul li {
  padding: 0.3rem;
}

.footer .container-xxl .row .links-footer .links ul li a {
  text-decoration: none;
  color: #fff;
}

.footer .container-xxl .row .social-me {
  margin-bottom: 1rem;
}

.footer .container-xxl .row .social-me h4 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.footer .container-xxl .row .social-me h4::before {
  content: "|";
  margin: 0.5rem;
  border-radius: 0;
  font-size: 1rem;
  background: #ff072a;
  color: #ff072a;
}

.footer .container-xxl .row .social-me .social {
  padding-right: 1rem;
}

.footer .container-xxl .row .social-me .social a {
  text-decoration: none;
}

.footer .container-xxl .row .social-me .social a i {
  color: #fff;
  padding-left: 0.5rem;
  font-size: 2rem;
}

.footer .container-xxl .row .social-me .social a .fa-facebook-f {
  color: #11468f;
}

.footer .container-xxl .row .social-me .social a .fa-twitter {
  color: #1572a1;
}

.footer .container-xxl .row .social-me .social a .fa-instagram {
  color: #ff072a;
}

.footer .container-xxl .row .social-me .social a .fa-whatsapp {
  color: #34be82;
}

.footer .Copyright {
  background: #ff072a;
  padding: 0.5rem 0;
}

.footer .Copyright .container-xxl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #fff;
}

.footer .Copyright .container-xxl h6 {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */