@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800;900&family=El+Messiri:wght@400;500;600;700&family=Festive&display=swap");

@import "./scss/responsive";
@import "scss/tab";
@import "scss/pages/about";
@import "scss/pages/contact";
@import "scss/pages/FeaturedMembers";
@import "scss/pages/moreDetaileBlog";
@import "scss/pages/advancedSearch";
@import "scss/pages/Subscribe";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
  font-family: myFirstFont;
  direction: rtl;
}
textarea {
  resize: none !important;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

@font-face {
  font-family: myFirstFont;
  src: url(fonts/alfont_com_AlFont_com_DINNextLTArabic-Regular.ttf);
}

/* Rest UL&LI */
@mixin list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* circle */
@mixin circle($dimenions) {
  border-radius: 50%;
  width: $dimenions;
  height: $dimenions;
}
/* CENTER ELEMENT */
@mixin centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* sit */
$Dark: #000;
$white: #fff;
$primery: #ff072a;
$color-opcity: #d0d1d2;

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* StartHeader_1 */

.header_1 {
  position: relative;
  background: $Dark;
  .container-xxl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .links_1 {
      padding: 10px;
      a {
        color: $white;
        text-decoration: none;
        padding: 0 0.5rem;
        i {
          padding: 0 0.3rem;
        }
      }
    }
    .links_2 {
      padding: 10px;
      display: flex;
      flex-direction: row-reverse;
      .social {
        a {
          color: $white;
          padding: 0 0.5rem;
        }
      }
      .call {
        position: relative;
        left: 50px;
        direction: ltr;
        a {
          color: $white;
          padding: 0 0.5rem;
          text-decoration: none;
          i {
            padding: 0 0.3rem;
          }
        }
      }
    }
  }
}

/* EndHeader_1 */

/* StartHeader_2 */
.header_2 {
  .container-xxl {
    .hide {
      display: none;
    }
    display: flex;
    justify-content: space-between;
    background: $white;
    align-items: center;
    flex-direction: row-reverse;
    .logo {
      display: flex;
      align-items: center;
      img {
        @include circle(100px);
        object-fit: cover;
      }
    }
    .nav_list {
      display: flex;
      align-items: center;
      .nav_item {
        margin: 0 8px;
        .nav_link {
          padding: 1rem 0.5rem;
          color: $Dark;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          text-decoration: none;
          i {
            @include circle(70px);
            text-align: center;
            background: $primery;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $white;
            font-size: 25px;
          }
        }
      }
    }
    .header_toggle {
      display: none;
      cursor: pointer;
    }
    .header_close {
      display: none;
      cursor: pointer;
    }
  }
}
/* EndHeader_2 */

/* StartSctionHeader */
.search_header {
  background: url(img/header.png);
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .container-xxl {
    height: 100%;
    .row {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .col-md-6 {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .qyran {
          background: $primery;
          border-radius: 20px;
          padding: 20px;
          text-align: center;
          color: $white;
          width: 450px;
          margin: 1rem 0;
          h3 {
            font-weight: normal;
            font-size: 1rem;
            padding-bottom: 0.5rem;
          }
          p {
            font-size: 1rem;
            font-weight: normal;
            line-height: 2.3rem;
          }
        }
        .btn {
          text-decoration: none;
          padding: 10px 30px;
          background: $Dark;
          border-radius: 20px;
          margin: 0.5rem;
          font-family: "Cairo", sans-serif;
          a {
            text-decoration: none;
            color: $white;
            i {
              padding: 0 0.5rem;
            }
          }
        }
      }
      .col-md-6 {
        .select-tab {
          width: 400px;
          background: $color-opcity;
          opacity: 1;
          border-radius: 10px;
          margin: 1rem 0;
          #Husband {
            form {
              padding: 1.5rem 1.5rem 0.5rem 1.5rem;
              .row-select {
                display: flex;
                select {
                  &:nth-child(1) {
                    margin-left: 0.5rem !important;
                  }
                }
              }
            }
          }
          #wife {
            form {
              padding: 1.5rem 1.5rem 0.5rem 1.5rem;
              .row-select {
                display: flex;
                select {
                  &:nth-child(1) {
                    margin-left: 0.5rem !important;
                  }
                }
              }
            }
          }
          .btns {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 1.5rem;
            margin-bottom: 1rem;
            .btn {
              padding: 0;
              padding: 7px 10px;
              width: 100% !important;
              &:nth-child(2) {
                background: $primery;
              }
            }
          }
        }
      }
    }
  }
}
/* EndSctionHeader */

/* SectionAboutStart */

.about {
  position: relative;
  margin-top: 2rem;
  .container-xxl {
    .row {
      h4 {
        font-size: 1.2rem;
        font-weight: 700;
        &::before {
          content: "|";
          margin: 0.5rem;
          font-size: 1rem;
          background: $primery;
          color: $primery;
        }
      }
      .col-md-8 {
        p {
          margin-top: 1.5rem;
          padding-right: 4rem;
          line-height: 2rem;
          font-weight: 600;
        }
      }
      .col-md-4 {
        display: flex;
        justify-content: center;
        align-items: center;
        .img-about {
          width: 150px;
          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

/* StartBlog*/

.Blog {
  margin: 2rem 0;
  .container-xxl {
    h4 {
      font-size: 1.2rem;
      font-weight: 700;
      &::before {
        content: "|";
        margin: 0.5rem;
        font-size: 1rem;
        background: $primery;
        color: $primery;
      }
    }
    .row {
      padding: 2rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 1.5rem;
      .rel {
        width: 18rem;
        .img_blog {
          border-radius: 20px;
          width: 100%;
          height: 250px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
            outline: 2px solid $primery;
          }
        }
        h3 {
          font-size: 1rem;
          font-weight: 700;
          height: 24px;
          overflow: hidden;
          margin: 0.8rem 0;
        }
        p {
          height: 72px;
          width: 100%;
          overflow: hidden;
          font-weight: 600;
        }
        .more {
          text-align: center;
          a {
            color: $primery;
            font-size: 1rem;
            text-decoration: none;
          }
        }
      }
      .btn {
        margin-top: 1rem;

        a {
          text-decoration: none;
          padding: 10px 30px;
          background: #000;
          border-radius: 20px;
          margin: 0.5rem;
          color: $white;
          font-size: 0.8rem;
          font-family: "Cairo", sans-serif;
        }
      }
    }
  }
}

/* Start-Story*/

.Story {
  margin: 2rem 0;
  .container-xxl {
    h4 {
      font-size: 1.2rem;
      font-weight: 700;
      &::before {
        content: "|";
        margin: 0.5rem;
        font-size: 1rem;
        background: $primery;
        color: $primery;
      }
    }
    .row {
      padding: 2rem 0;
      display: flex;
      justify-content: center;

      flex-wrap: wrap;
      gap: 1.5rem;
      .rel {
        width: 18rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        .img_blog {
          border-radius: 50%;
          width: 250px;
          height: 250px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
            outline: 2px solid $primery;
          }
        }
        h3 {
          font-size: 1rem;
          font-weight: 700;
          height: 24px;
          overflow: hidden;
          margin: 0.8rem 0;
          text-align: center;
        }
        p {
          height: 48px;
          width: 100%;
          overflow: hidden;
          text-align: center;
          font-weight: 600;
        }
        .name-city {
          width: 100%;
          overflow: hidden;
          display: flex;
          justify-content: space-around;
          align-items: center;
          .name {
            h3 {
              font-size: 1rem;
            }
          }
          .city {
            width: 40px;
            img {
              width: 100%;
            }
          }
        }

        a {
          display: block;
          color: $Dark;
          font-size: 1.1rem;
          text-decoration: none;
          text-align: center;
          i {
            padding-left: 0.5rem;
            font-weight: 700;
          }
        }
      }
      .btn {
        margin-top: 1rem;
        a {
          text-decoration: none;
          padding: 10px 30px;
          background: #000;
          border-radius: 20px;
          margin: 0.5rem;
          color: $white;
          font-size: 0.8rem;
          font-family: "Cairo", sans-serif !important;
        }
      }
    }
  }
}

.rel.showContent p {
  height: auto !important;
  transition: 0.3s linear all;
  animation: fadeEffect 1s;
}

.rel.showContent a.redmore-btn {
  font-weight: 700;
}

.osos {
  cursor: pointer;
}

.main-btn:hover {
  outline: 2px solid $white;
  transition: 0.2s linear all;
}

.footer {
  position: relative;
  background: $Dark;
  color: $white;
  .container-xxl {
    .row {
      padding: 1.5rem 0;
      .about-group {
        margin-bottom: 1rem;
        h4 {
          font-size: 1.2rem;
          font-weight: 700;
          margin-bottom: 1rem;
          &::before {
            content: "|";
            margin: 0.5rem;
            border-radius: 0;
            font-size: 1rem;
            background: $primery;
            color: $primery;
          }
        }
        p {
          padding-right: 1rem;
          line-height: 1.8rem;
        }
      }
      .links-footer {
        margin-bottom: 1rem;
        h4 {
          font-size: 1.2rem;
          font-weight: 700;
          margin-bottom: 1rem;
          &::before {
            content: "|";
            margin: 0.5rem;
            border-radius: 0;
            font-size: 1rem;
            background: $primery;
            color: $primery;
          }
        }
        .links {
          display: flex;
          padding-right: 1rem;
          flex-wrap: wrap;
          ul {
            li {
              padding: 0.3rem;
              a {
                text-decoration: none;
                color: $white;
              }
            }
          }
        }
      }
      .social-me {
        margin-bottom: 1rem;
        h4 {
          font-size: 1.2rem;
          font-weight: 700;
          margin-bottom: 1rem;
          &::before {
            content: "|";
            margin: 0.5rem;
            border-radius: 0;
            font-size: 1rem;
            background: $primery;
            color: $primery;
          }
        }
        .social {
          padding-right: 1rem;
          a {
            text-decoration: none;
            i {
              color: $white;
              padding-left: 0.5rem;
              font-size: 2rem;
            }
            .fa-facebook-f {
              color: #11468f;
            }
            .fa-twitter {
              color: #1572a1;
            }
            .fa-instagram {
              color: $primery;
            }
            .fa-whatsapp {
              color: #34be82;
            }
          }
        }
      }
    }
  }
  .Copyright {
    background: $primery;
    padding: 0.5rem 0;
    .container-xxl {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      color: $white;
      h6 {
        text-align: center;
      }
    }
  }
}
