.account {
  margin: 3rem 0;
  .container-xxl {
    .row {
      .tab_nav {
        position: relative;
        .nav_account {
          display: block;
          .nav_list_tab {
            .nav_item_tab {
              .nav_a,
              .active {
                text-decoration: none;
                color: #000;
                display: flex;
                padding: 0.5rem 1rem;
                border: 1px solid rgb(165, 137, 137);
                margin-bottom: 0.5rem;
                border-radius: 0 20px 20px 0;
                i {
                  margin-left: 0.5rem;
                  background: #ff072a;
                  color: #fff;
                  height: 30px;
                  width: 30px;
                  text-align: center;
                  border-radius: 50%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              }
            }
          }
        }
      }
      .Update {
        .Update-user {
          .container-xxl {
            padding: 0 !important;
            width: 100% !important;
            .form-controlLogin {
              width: fit-content !important;
              margin-left: 2rem;
              font-family: "Cairo", sans-serif;
              font-weight: bold;
              display: flex;
              /* justify-content: center; */
              flex-wrap: wrap;
            }
          }
        }
        .table-section .center table thead tr th:nth-child(1) {
          text-align: center;
        }
        .table-section .center table tbody tr td:first-child {
          text-align: center;
          border-left: none !important;
        }

        .table-section {
          margin-bottom: 0 !important;
          .center {
            table {
              width: 100% !important;
              margin: 0 !important;
            }
          }
          .mark-green {
            color: #fff;
          }
          .date {
            display: flex;
            justify-content: space-evenly;
          }
        }
      }
    }
  }
}

.nav_account .nav_list_tab .nav_item_tab a:hover,
.nav_account .nav_list_tab .nav_item_tab a.active {
  text-decoration: none;
  color: #fff !important;
  background: #ff072a;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.Update-user input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: #000000;
  /* Not removed via appearance */
  margin: 0;
  color: currentColor;
  font-size: 20px;
  width: 1em;
  height: 1em;
  display: grid;
  place-content: center;
}

.Update-user input[type="radio"]::before {
  content: "";
  width: 0.6em;
  height: 0.6em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #ffffff;
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

.Update-user input[type="radio"]:checked::before {
  transform: scale(1);
}

.Update-user input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: #000000;
  /* Not removed via appearance */
  margin: 0;
  color: currentColor;
  font-size: 20px;
  width: 1em;
  height: 1em;
  display: grid;
  place-content: center;
}

.Update-user input[type="checkbox"]::before {
  content: "";
  width: 0.6em;
  height: 0.6em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #ffffff;
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

.Update-user input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.Update-user {
  .container-xxl {
    display: flex;
    flex-direction: column;
    .header_title {
      display: flex;
      justify-content: center;
      align-items: center;
      h3 {
        padding: 0.5rem 1rem;
        color: #fff;
        background: #ff072a;
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
        font-family: "Cairo", sans-serif;
      }
      a {
        padding: 0.5rem 1rem;
        color: #fff;
        background: #ff072a;
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
        font-family: "Cairo", sans-serif;
        width: 400px;
        border-radius: 20px;
        text-decoration: none;
        text-align: center;
      }
    }
    .block_1,
    .block_2,
    .block_3,
    .block_4,
    .block_5,
    .block_6,
    .block_7,
    .block_8 {
      .container {
        padding-right: var(--bs-gutter-x, 0.75rem);
        padding-left: var(--bs-gutter-x, 0.75rem);
        padding-left: 0 !important;
        padding-right: 0 !important;
        width: 100%;

        .row {
          h3 {
            font-size: 1.2rem;
            margin-bottom: 1rem;
            font-weight: bold;
          }
          .col-md-6 {
            display: flex;
            flex-direction: column;
            input {
              border: 1px solid rgb(75, 54, 54);
              padding: 0.5rem 1rem;
              color: #000;
              margin-bottom: 1rem;

              &::placeholder {
                font-size: 1rem;
                color: rgb(97, 73, 73);
              }
            }
            .select {
              border: 1px solid rgb(75, 54, 54) !important;
              padding: 0.5rem 1rem;
              color: rgb(97, 73, 73) !important;
              margin-bottom: 1rem;
            }
          }
        }
      }
    }
    .block_7,
    .block_8 {
      textarea {
        border: 1px solid rgb(75, 54, 54);
        padding: 0.5rem 1rem;
        width: 100%;
        height: 120px;
        color: #000;
        margin-bottom: 1rem;
        &::placeholder {
          font-size: 1rem;
          color: rgb(97, 73, 73);
        }
      }
    }
    .block_8 {
      margin-bottom: 1rem;
    }
  }
}

@media only screen and (max-width: 931px) {
  .Update-user {
    padding: 0 0.5rem;
    .container-xxl {
      width: 100% !important;
      padding: 2rem 0 !important;
    }
  }
}

@media only screen and (max-width: 550px) {
  .account {
    .container-xxl {
      display: flex;
      justify-content: center;
      align-items: center;
      .block_1,
      .block_2,
      .block_3,
      .block_4,
      .block_5,
      .block_6,
      .block_7,
      .block_8 {
        width: 100% !important;
        .container {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .Update-user {
    .container-xxl {
      .header_title {
        h3 {
          font-size: 1rem !important;
        }
        a {
          width: 300px !important;
        }
      }
      .container {
        .row {
          h3 {
            font-size: 0.9rem !important;
          }
          textarea {
            &::placeholder {
              font-size: 0.9rem !important;
            }
          }
          .form-controlLogin {
            font-size: 0.7rem;
            flex-wrap: wrap !important;
          }
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .tableMail .container-xxl {
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .table-section .container-xxl {
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding: 0 0.5rem !important;
  }
}

@media (max-width: 650px) {
  .tableMail .table-section .center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .tableMail .table-section .center table {
    width: 100%;
    margin: 2rem 0;
  }
  .tableMail .table-section .center table thead {
    display: none;
  }
  .tableMail .table-section .center table tbody {
    width: 100% !important;
    border-radius: 10px;
  }
  .tableMail .table-section .center table tbody tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #ffffff;
    margin-bottom: 0.5rem;
    width: 100% !important;
    border-radius: 10px;
    color: #fff;
    border: 1px solid #ff072a;
  }
  .tableMail .table-section .center table tbody tr td:first-child {
    text-align: center;
    border-left: none;
  }
  .tableMail .table-section .center table tbody tr td {
    text-align: center;
    padding: 15px;
    border: none;
    font-size: 13px;
    font-weight: 700;
    width: 100%;
    border-bottom: 1px solid rgb(131, 116, 116);
    color: rgb(0, 0, 0);
  }

  .tableMail .table-section .center table tbody tr td:last-child {
    border-bottom: 0 !important;
  }
}
