.services {
  -webkit-animation: fadeEffect 2s;
  animation: fadeEffect 2s;
  margin-bottom: 13rem;
}

.services .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.services .container .row {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
  margin: 2rem 0;
}

.services .container .row div {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.services .container .row div h3 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "ArbFONTS";
  margin-bottom: 2rem;
}

.services .container .row div form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.services .container .row div form input {
  border: 1px solid #6e2222;
  width: 500px;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
}

.services .container .row div form input::-webkit-input-placeholder {
  color: #000;
}

.services .container .row div form input:-ms-input-placeholder {
  color: #000;
}

.services .container .row div form input::-ms-input-placeholder {
  color: #000;
}

.services .container .row div form input::placeholder {
  color: #000;
}

.services .container .row div form input:focus {
  -webkit-box-shadow: #0d8bca 0px 3px 8px;
  box-shadow: #0d8bca 0px 3px 8px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.services .container .row div form .text input {
  padding-bottom: 8rem;
}

.services .container .row div form .text input:focus {
  -webkit-box-shadow: #0d8bca 0px 3px 8px;
  box-shadow: #0d8bca 0px 3px 8px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.services .container .row div form .form-select {
  background-position: left 0.75rem center !important;
  border: 1px solid #6e2222;
  width: 500px;
  margin-bottom: 1rem;
  padding: 10px 20px;
  border-radius: 4px;
}

.services .container .row div form .form-select:focus {
  -webkit-box-shadow: #0d8bca 0px 3px 8px;
  box-shadow: #0d8bca 0px 3px 8px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.services .container .row div form .btn-from {
  width: 500px;
  padding: 10px 20px;
  background: #000000;
  text-align: center;
  border-radius: 20px;
}

.services .container .row div form .btn-from:hover {
  background: #b3242b;
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
}

.services .container .row div form .btn-from a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  width: 100%;
  font-family: "Cairo", sans-serif;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-size: 15px;
  color: rgb(0, 0, 0);
  display: inline-block;
  width: 100%;
  border: 1px solid #6e2222;
  margin-bottom: 1rem;
  padding: 10px 20px;
  background: url(../img/img.png);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: left 0.75rem center !important;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: rgb(255, 255, 255);
}

.inputfile + label {
  cursor: pointer;
  /* "hand" cursor */
}

.inputfile:focus + label {
  -webkit-box-shadow: #0d8bca 0px 3px 8px;
  box-shadow: #0d8bca 0px 3px 8px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

@media (max-width: 580.5px) {
  .row {
    width: 100% !important;
  }

  .services h3 {
    font-size: 0.9rem !important;
  }

  form {
    width: 100% !important;
  }

  form input {
    width: 100% !important;
  }

  form select {
    width: 100% !important;
  }

  form .text {
    width: 100% !important;
  }

  form .btn-from {
    width: 100% !important;
  }
}
